.courses-container {
    /* border: 8px solid chartreuse; */
    width: 85%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.course{
    width: 12rem ;
    height: 12rem;
    display: flex;
    flex-direction: column;
    
}


.course-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6A1986;
    border-radius: 45px 30px 0px 0px;
    height: 20%;
    
}

.course-body{
    background-color: #8569FF;
    height: 80%;
    border-radius: 0px 0px 90px 30px;
}