.header-container{
    
    height: 5rem;
    display: flex;
    align-items: center;
    color: #ffffff;
    z-index: 2;
    border: 5px solid salmon;
}

.route{
    padding-left: 5rem;
    display: block;
}

