.page-container{
    width: 90%;
    position: relative;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 5px solid salmon; */
}

.header-separator-home{
    height: 20rem;
}